[submodule "android/app/jni/SDL"]
	path = android/app/jni/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "android/app/jni/SDL_ttf"]
	path = android/app/jni/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
